@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
body{
    background-color: hsl(0, 0%, 93%);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
        margin: 20px;
}
.cityInput{
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
    border: 2px solid hsl(0, 0%, 20%, 0.3);
    border-radius: 10px;
    width: 300px;
    margin: 10px;
}

button[type="submit"]{
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: hsl(120, 49%, 46%);
    cursor: pointer;
}
button[type="submit"]:hover{

    color: white;
    background-color: hsl(76, 71%, 58%);
  ;
}


.card{
    min-width: 300px;
    padding: 50px;
    background: rgb(114,176,232);
    background: linear-gradient(180deg, rgba(114,176,232,1) 0%, rgba(203,195,105,1) 75%, rgba(227,189,60,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 9px 24px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 24px -8px rgba(0,0,0,0.75);
}


p{
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: bold;
    
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-size: 2rem;
}
.weatherEmoji{
    font-size: 7.5rem;
    color: hsla(0, 0%, 0%, 0.75);
}
.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
}



