body{
    font-family: Arial, Helvetica, sans-serif sans-serif;
    font: 2em;
   
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
}

.checkBoxes label{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.checkBoxes{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.checkBoxes input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 2px solid #333; /* Border color */
    border-radius: 4px; /* Rounded corners */
    margin-right: 8px; /* Spacing between checkboxes */
    cursor: pointer;
}
.checkBoxes input[type="checkbox"]:checked{
    font-size: 16px;
    color: #333;
    user-select: none;
}

#passwordLength{
    padding: 1em;
    font-size: 1em;
    width: 50px;
    text-align: center;
    border: 2px solid #3498db; /* Border color */
    border-radius: 10px; /* Rounded corners */
    outline: none; /* Remove the default input focus outline */
}
.textArea label{
    font-size: 2em;
    font-weight: bold;
}
button{
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#result{
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
}





